#cachorro {
	width: 8em;
	margin-top: 95%;
	margin-left: 10%;
}

#titulo{
	font-family: Arial, Helvetica, sans-serif;
}
#casa {
	width: 8em;
	position: absolute;
	top: 2%;
	left: 85%;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}